body {
    background-color: #3b4852;
    color: rgb(177, 132, 7);
    font-family: "IBM Plex Serif", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #008378;
    color: rgb(47, 2, 53);
    font-family: "Bai Jamjuree", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}